html,
body {
    margin: 0;
    padding: 0;
    background: #1F2937;
    color: #D5D4D8;
    width: 100vw;
    font-family: 'Inter';
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 1em;

}

#select-place,
#color-btn {
    color: #D5D4D8;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

#select-place,
#color-btn,
#color-place {
    margin: 2vw;
}

#color-btn {
    min-width: 75px;
    background: #3D4B60;
    border-radius: 6%;
    border-style: none;
    width: 20vw;
    height: 7vh;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
}

#select-place {
    width: 50vw;
    height: 7vh;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    background: #1F293A;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

#color-place {
    min-width: 50px;
    width: 8vw;
    height: 7vh;
    background: #D5D4D8;
    border: 0.2px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

#all-colors {
    display: flex;
    flex-direction: row;
}

.color {
    width: 20vw;
    height: 75vh;
    max-height: 550px;
}

#color1 {
    background-color: #F55A5A;
}

#color2 {
    background: #2B283A;
}

#color3 {
    background: #FBF3AB;
}

#color4 {
    background: #AAD1B6;
    ;
}

#color5 {
    background: #A626D3;
}

.color-name {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #D5D4D8;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5rem;
}